{% extends 'base.html' %}

{%block head %}
<title>FlaskReddit - Signup</title>
<style>
    body {
        background: #dae0e6 !important;
        margin-top: 100px !important;
    }

    .form-control {
        margin-bottom: 5px;
    }
</style>
{% endblock %}

{%block body %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light style"
    style="background-color: #fff !important; padding: bottom 80px;">
    <div class="container">
        <a href="/" class="navbar-brand">FlaskReddit</a>
        <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="float-start flashes" style="margin: 0px; list-style-type:none;">
                {% for category, message in messages %}
                <li>
                    <div class="alert alert-{{category}}">{{ message }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Sign Up
                </div>
                <div class="card-body">
                    <form class="form" action="/signup" method="POST">
                        <input type="text" class="form-control" placeholder="Username" name="username"
                            value="{{form_data['username']}}">
                        <input type="email" class="form-control" placeholder="Email" name="email"
                            value="{{form_data['email']}}">
                        <input type="password" class="form-control" placeholder="Password" name="password"
                            value="{{form_data['password']}}">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="conf_pass"
                            value="{{form_data['conf_pass']}}">
                        <br>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Already have an account?<a href="/login" style="padding: 6px 2px;">Login</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}